doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Mon Profil
    meta(name='description', content='Nigerfoot est un site de pronostics gratuit')
    meta(name='keywords', content='Niger, niger, digital, niger digital, pronostics, football, foot, cm18, coupe du monde, 2018')
    meta(name='NIGER DIGITAL', content='hencework')
    // Favicon
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    // Morris Charts CSS
    link(href='/vendors/bower_components/morris.js/morris.css', rel='stylesheet', type='text/css')
    // vector map CSS
    link(href='/vendors/vectormap/jquery-jvectormap-2.0.2.css', rel='stylesheet', type='text/css')
    // Calendar CSS
    link(href='/vendors/bower_components/fullcalendar/dist/fullcalendar.css', rel='stylesheet', type='text/css')
    // Data table CSS
    link(href='/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css', rel='stylesheet', type='text/css')
    // Custom CSS
    link(href='/dist/css/style.css', rel='stylesheet', type='text/css')
    // Custom CSS
    link(href='/dist/css/custom.css', rel='stylesheet', type='text/css')
  body
    // Preloader
    .preloader-it
      .la-anim-1
    // /Preloader
    .wrapper.theme-1-active.pimary-color-red
      // Top Menu Items
      nav.navbar.navbar-inverse.navbar-fixed-top
        .pull-left.mt-10.ml-50
          a(href='/')
            img.brand-img.mr-10(src='/img/logo-nigerfoot.png', width='100px', height='40px', alt='brand')
            span.brand-text.title-format.h1(style='color:forestgreen') NIGER FOOT
        div.pt-10(style='float:right;margin-left: 30px;')
          button#submit_prono.btn.btn-success.header-btn-style.col-md-6.col-sm-6.col-xs-6(type='submit' form='pronoform') Valider pronostics
          a.button.btn.btn-warning.ml-40.mr-20.header-btn-style.col-md-3.col-sm-3.col-xs-3(href='/logout') Quitter
      .container
      !=messages()
      // Main Content
      .page-wrapper
        .container-fluid.pt-25
          if(user)
              // Row
              .row
                .col-lg-3.col-md-3.col-xs-12
                  .panel.panel-default.card-view.pa-0
                    .panel-wrapper.collapse.in
                      .panel-body.pa-0
                        .profile-box
                          .profile-cover-pic
                            .profile-image-overlay
                          .profile-info.text-center
                            .profile-img-wrap
                              img.inline-block.mb-10(src='/dist/img/mock1.jpg', alt='user photo')
                              .fileupload.btn.btn-default
                                span.btn-text edit
                                input.upload(type='file')
                            h5.block.mt-10.mb-5.weight-500.capitalize-font.txt-danger #{user.username}
                            h6.block.pb-20.text-lowercase @#{user.userpseudo}
                            
                            label(class='userid' data-userid='#{user._id}' hidden='')
                          .social-info
                            .row
                              .col-xs-12.text-center
                                span.counts.block.head-font
                                  if (myrank)
                                    span.counter-anim #{myrank.usrrank}
                                span.counts-text.block Classement Général
                              if (mongroupe)
                                 each groupemate in mongrouperank
                                   if (groupemate.usrid.toString() == user._id.toString())
                                    .col-xs-12.text-center
                                      span.counts.block.head-font
                                        span.counter-anim #{groupemate.usrrank}
                                      span.counts-text.block #{mongroupe.groupname}
                              if (groupes)
                                - var i = 0
                                each group in groupes
                                  each groupemate in groupesranks[i]
                                    if (groupemate.usrid.toString() == user._id.toString()) 
                                      .col-xs-12.text-center
                                        span.counts.block.head-font
                                          span.counter-anim #{groupemate.usrrank}
                                        span.counts-text.block #{group.groupname}
                            button.btn.btn-default.btn-block.btn-outline.btn-anim.mt-30(data-toggle='modal', data-target='#myModal')
                              i.fa.fa-pencil
                              span.btn-text edit profile
                            #myModal.modal.fade.in(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                              .modal-dialog
                                .modal-content
                                  .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                                    h5#myModalLabel.modal-title Edit Profile
                                  .modal-body
                                    // Row
                                    .row
                                      .col-lg-12
                                        div
                                          .panel-wrapper.collapse.in
                                            .panel-body.pa-0
                                              .col-sm-12.col-xs-12
                                                .form-wrap
                                                  form(method='POST' action='')
                                                    .form-body.overflow-hide
                                                      .form-group
                                                        label.control-label.mb-10(for='exampleInputuname_1') Name
                                                        .input-group
                                                          .input-group-addon
                                                            i.icon-user
                                                          input#exampleInputuname_1.form-control(type='text', placeholder='willard bryant')
                                                      .form-group
                                                        label.control-label.mb-10(for='exampleInputEmail_1') Email address
                                                        .input-group
                                                          .input-group-addon
                                                            i.icon-envelope-open
                                                          input#exampleInputEmail_1.form-control(type='email', placeholder='xyz@gmail.com')
                                                      .form-group
                                                        label.control-label.mb-10(for='exampleInputContact_1') Contact number
                                                        .input-group
                                                          .input-group-addon
                                                            i.icon-phone
                                                          input#exampleInputContact_1.form-control(type='email', placeholder='+102 9388333')
                                                      .form-group
                                                        label.control-label.mb-10(for='exampleInputpwd_1') Password
                                                        .input-group
                                                          .input-group-addon
                                                            i.icon-lock
                                                          input#exampleInputpwd_1.form-control(type='password', placeholder='Enter pwd', value='password')
                                                      .form-group
                                                        label.control-label.mb-10 Gender
                                                        div
                                                          .radio
                                                            input#radio_1(type='radio', name='radio1', value='option1', checked='')
                                                            label(for='radio_1')
                                                              | M
                                                          .radio
                                                            input#radio_2(type='radio', name='radio1', value='option2')
                                                            label(for='radio_2')
                                                              | F
                                                      .form-group
                                                        label.control-label.mb-10 Country
                                                        select.form-control(data-placeholder='Choose a Category', tabindex='1')
                                                          option(value='Category 1') USA
                                                          option(value='Category 2') Austrailia
                                                          option(value='Category 3') India
                                                          option(value='Category 4') UK
                                                    .form-actions.mt-10
                                                      button.btn.btn-success.mr-10.mb-30(type='submit') Update profile
                                  .modal-footer
                                    button.btn.btn-success.waves-effect(type='button', data-dismiss='modal') Save
                                    button.btn.btn-default.waves-effect(type='button', data-dismiss='modal') Cancel
                                // /.modal-content
                              // /.modal-dialog
                .col-lg-9.col-md-9.col-xs-12
                  .panel.panel-default.card-view.pa-0
                    .panel-wrapper.collapse.in
                      .panel-body.pb-0
                        .tab-struct.custom-tab-1
                          ul#myTabs_8.nav.nav-tabs.nav-tabs-responsive(role='tablist')
                            li.active(role='presentation')
                              a#games_tab_8(data-toggle='tab', role='tab', href='#gameslisting', aria-expanded='false')
                                span Pronostics
                            li.next(role='presentation')
                              a#follo_tab_8(aria-expanded='true', data-toggle='tab', role='tab', href='#follo_8')
                                span
                                  | Classement Général
                                  // <span class="inline-block">(246)</span>
                            li(role='presentation')
                              a#photos_tab_8(data-toggle='tab', role='tab', href='#photos_8', aria-expanded='false')
                                span Règles
                            li(role='presentation')
                              a#earning_tab_8(data-toggle='tab', role='tab', href='#earnings_8', aria-expanded='false')
                                span Groupe(s)
                            li(role='presentation')
                              a#settings_tab_8(data-toggle='tab', role='tab', href='#settings_8', aria-expanded='false')
                                span Résultats
                            li.dropdown(role='presentation')
                              a#myTabDrop_7.dropdown-toggle(data-toggle='dropdown', href='#', aria-expanded='false')
                                span Plus...
                                span.caret
                              ul#myTabDrop_7_contents.dropdown-menu
                                li
                                  a#dropdown_13_tab(data-toggle='tab', role='tab', href='#groupform', aria-expanded='true') Créer un groupe
                                li
                                  a#dropdown_14_tab(data-toggle='tab', role='tab', href='#dropdown_14', aria-expanded='false') Followings
                                li
                                  a#dropdown_15_tab(data-toggle='tab', role='tab', href='#dropdown_15', aria-expanded='false') Likes
                                li
                                  a#dropdown_16_tab(data-toggle='tab', role='tab', href='#dropdown_16', aria-expanded='false') Reviews
                          #myTabContent_8.tab-content
                            #gameslisting.tab-pane.fade.active.in(role='tabpanel')
                              .panel-wrapper.collapse.in
                                .panel-body
                                  .table-wrap.mt-40
                                    .table-responsive
                                      form(method = 'POST' action='/sumbit_pronostic' id='pronoform')
                                        table.table.mb-0
                                          - const monthNames = ["Janvier","Fevrier","Mars","Avril","Mai", "Juin","Juillet", "Aout","Septembre","Octobre","Novembre","Decembre"];
                                            each game in list_games
                                              - var score1value = user.userprono['prteam'+game.gamenumber+'1'];
                                              - var score2value = user.userprono['prteam'+game.gamenumber+'2'];
                                              thead
                                                tr
                                                  th
                                                    - var dateg = new Date(game.gamedate)
                                                    - dategame = dateg.getDate() + ' ' + monthNames[dateg.getMonth()]
                                                    - hourgame = dateg.getHours() + ' : 0' + dateg.getMinutes()
                                                    | #{dategame} à #{hourgame}
                                                    br
                                                    | Groupe #{game.team1.teamgroup}
                                                  th
                                                    label(for='')
                                                      | #{game.gamestadium}
                                                      br
                                                      | #{game.gameplace}
                                                  th Pronostic
                                              tbody
                                                tr                                                    
                                                  td
                                                    label(for='')
                                                      img.flag-size.mr-10(src='/img/teams/#{game.team1.teamname}.png', alt='')
                                                      h3.team-name #{game.team1.teamname}

                                                  td(style='vertical-align: middle;')
                                                    label(for='')
                                                      input.input-team-score(type='Number', value='0', disabled='')
                                                  td(style='vertical-align: middle;')
                                                    label(for='')
                                                      input.input-team-score.prteam1(type='Tel', name='prteam#{game.gamenumber}1' min='0', max='15', maxlength='2' id='prteam1#{game._id}' readonly=(false===game.started ? false : 'readonly') style=(false===game.started ? '' : 'background-color:gold') value=(undefined===user ? '' : score1value))
                                                tr
                                                  td
                                                    label(for='')
                                                      img.flag-size.img-responsive.mr-10(src='/img/teams/#{game.team2.teamname}.png', alt='')
                                                      h3.team-name #{game.team2.teamname}
                                                  td(style='vertical-align: middle;')
                                                    label(for='')
                                                      input.input-team-score(type='Number', value='0', disabled='')
                                                  td(style='vertical-align: middle;')
                                                    label(for='')
                                                      input.input-team-score.prteam2(type='Tel', name='prteam#{game.gamenumber}2', min='0', max='15', maxlength='2' id='prteam2#{game._id}' readonly=(false===game.started ? false : true) style=(false===game.started ? '' : 'background-color:gold') value=(undefined===user ? '' : score2value))

                              
                            #follo_8.tab-pane.fade(role='tabpanel')
                              .row
                                .col-lg-12
                                  .followers-wrap
                                    ul.followers-list-wrap
                                      li.follow-list
                                        .follo-body
                                          .follo-data
                                            if (rankmax)
                                              for theuser in rankmax.rankstate
                                                #rang.pull-left.pl-30.pr-30
                                                  if (theuser.usrpseudo == user.userpseudo)
                                                    h4.txt-primary #{theuser.usrrank}
                                                  else
                                                    h4 #{theuser.usrrank}
                                                  
                                                img.user-img.img-circle(src='/dist/img/user.png', alt='user')
                                                .user-data
                                                  if (theuser.usrpseudo == user.userpseudo)
                                                    span.name.block.txt-primary #{theuser.usrpseudo}
                                                  else
                                                    span.name.block #{theuser.usrpseudo}
                                                  // <span class="time block truncate txt-grey">No one saves us but ourselves.</span>
                                                .pull-right.mr-15
                                                  if (theuser.usrpseudo == user.userpseudo)
                                                    span.txt-primary #{theuser.usrscore}
                                                    span.txt-primary  Points
                                                  else
                                                    span #{theuser.usrscore}
                                                    span  Points
                                                // <button class="btn btn-success pull-right btn-xs fixed-btn">Follow</button>
                                                .clearfix
                                                
                            #photos_8.tab-pane.fade(role='tabpanel')
                              .col-md-12.pb-20
                                h3.text-center Règles du jeu de pronostics
                                br
                                br
                                h4 Le but du jeu
                                | Obtenir le meilleur score aux différents pronostics des 64 matchs de la coupe du monde.
                                | De sortir les 100 premiers y compris le meilleur score et de les récompenser.
                                br
                                br
                                h4 Participation
                                | La participation à notre jeu de pronostics est gratuite. Tout utilisateur enregistré sur notre site peut participer.
                                | Vous pouvez prendre part à ce concours en cours de la coupe du monde, cela réduira simplement vos chances de victoire.
                                br
                                br
                                h4 Saisie des pronostics
                                | Les pronostics peuvent uniquement être saisis en ligne sur notre site. Faire des pronostics par courrier, téléphone, etc. n'est pas possible!
                                br
                                br
                                h4 Date limite des pronostics
                                | Les pronostics peuvent être fait jusqu'au coup d'envoi du match. Si une journée de championnat s'étale sur plusieurs jours, les matchs se jouant les autres jours peuvent toujours être pronostiqués, même si le premier match de la journée a déjà débuté. Exemple: Une journée de championnat se joue le mardi, le jeudi et le vendredi. Même si le match du mardi a déjà démarré, les matchs du jeudi et du vendredi peuvent toujours être pronostiqués.
                                br
                                br
                                h4 Le classement se construit de la façon suivante :
                                ul(style='padding-left:50px;list-style: disc;')
                                  li 600 points gagnés par bon résultat (victoire de l’équipe domicile, nul, victoire de l’équipe extérieure)
                                | Si on récapitule, il est donc possible de gagner 1000 points maximum par match et un total de 48000 points maximum sur l'ensemble de la phase de poule. Le vainqueur sera celui qui obtiendra le plus de points à l'issue des maths de toutes journées de la coupe du monde.
                                
                                br
                                br
                                h4 Calcul des points et système de notation :
                                br
                                p Le calcul des points est réalisé selon 2 critères :
                                ul(style='padding-left:50px;list-style: disc;')
                                  li Le bon résultat rapporte 600 points et correspond à la capacité du pronostiqueur à trouver le  bon résultat du match. (victoire de l'équipe à domicile, match nul ou victoire extérieure)
                                  li Le bon score rapporte 1000 points et correspond à la capacité du pronostiqueur à trouver le score exact du match. (nombre de buts inscrits à domicile et nombre de buts inscrits à l'extérieur)
                                  li Le mauvais résultat : 250 points
                                  li Vous n’avez pas pronostiqué pour un match : 0 points
                                br
                                br
                                h4 Voici donc les possibilités de résultats d'un pronostiqueur pour un match :
                                br
                                
                                ul(style='padding-left:50px;list-style: disc;')
                                  li Le bon résultat et le bon score : 1000 points
                                  li Le bon résultat : 600 points
                                  li Le mauvais résultat : 250 points
                                  li Vous n’avez pas pronostiqué pour un match : 0 points
                                br
                                | Alors n'hésitez pas à rejoindre le concours et participez dès maintenant
                                | Selon le résultat du match, des points variables sont attribués dans le Jeu de Pronostics. La liste suivante montre le calcul exact des points.
                                div.col-md-6.col-sm-6.col-md-offset-3.col-sm-offset-3.text-center
                                  table.table
                                    thead
                                      tr
                                        th Résultat
                                        th Mon pronostic
                                        th Points
                                    tbody
                                      tr
                                        th.text-center 3:1
                                        th.text-center 3:1
                                        th 1000 points
                                      tr
                                        th.text-center 3:1
                                        th.text-center 3:0
                                        th 600 points
                                      tr
                                        th.text-center 3:1
                                        th.text-center 2:3
                                        th 250 points
                                      tr
                                        th.text-center 3:1
                                        th.text-center  :
                                        th  0 points
                                br
                                br
                                div.col-md-12.col-sm-12
                                  h4 Analyse des pronostics
                                  | Le classement général de tous les joueurs peut être consulté à tout moment dans l’onglet « classement » de la plateforme. Les classements sont mis à jour dans le quart d’heure suivant la fin de chaque match.
                                  br
                                  br
                                div.col-md-12.col-sm-12
                                  h4 Lots
                                  | Détails à venir ...
                            #earnings_8.tab-pane.fade(role='tabpanel')
                              // Row
                              .row
                                .col-lg-12
                                  .followers-wrap
                                    if(mongroupe)
                                      .row.pb-10.pl-30
                                        p(style=' border-bottom:solid 5px') #{mongroupe.groupname}
                                      if (mongroupe.joinedUsers)
                                        ul.followers-list-wrap
                                          each groupmate in mongrouperank
                                            li.follow-list
                                            .follo-body
                                              .follo-data
                                                #rang.pull-left.pl-30.pr-30
                                                  h4 #{groupmate.usrrank}
                                                img.user-img.img-circle(src='/dist/img/user.png', alt='user')
                                                .user-data
                                                  span.name.block.capitalize-font #{groupmate.usrpseudo}
                                                  // <span class="time block truncate txt-grey">No one saves us but ourselves.</span>
                                                .pull-right.mr-15
                                                  span #{groupmate.usrscore}
                                                  span  Points
                                                // <button class="btn btn-success pull-right btn-xs fixed-btn">Follow</button>
                                                .clearfix
                              //
                              .row
                                .col-lg-12
                                  .followers-wrap
                                    if(groupes)
                                      - var i = 0
                                      each group in groupes 
                                        .row.pb-10.pl-30
                                          p(style=' border-bottom:solid 5px') #{group.groupname}
                                          ul.followers-list-wrap
                                            each groupmate in groupesranks[i]
                                              li.follow-list
                                              .follo-body
                                                .follo-data
                                                  #rang.pull-left.pl-30.pr-30
                                                    h4 #{groupmate.usrrank}
                                                  img.user-img.img-circle(src='/dist/img/user.png', alt='user')
                                                  .user-data
                                                    span.name.block.capitalize-font #{groupmate.usrpseudo}
                                                    // <span class="time block truncate txt-grey">No one saves us but ourselves.</span>
                                                  .pull-right.mr-15
                                                    span #{groupmate.usrscore}
                                                    span  Points
                                                  // <button class="btn btn-success pull-right btn-xs fixed-btn">Follow</button>
                                                  .clearfix
                                        
                            #settings_8.tab-pane.fade(role='tabpanel')
                              // Row
                              .row
                                .col-lg-12
                                  div
                                    .panel-wrapper.collapse.in
                                      .panel-body.pa-0
                                        .col-sm-12.col-xs-12
                                          .form-wrap
                                            form(action='#')
                                              .form-body.overflow-hide
                                                .form-group
                                                  label.control-label.mb-10(for='exampleInputuname_01') Name
                                                  .input-group
                                                    .input-group-addon
                                                      i.icon-user
                                                    input.form-control(type='text', placeholder='willard bryant')
                                                .form-group
                                                  label.control-label.mb-10(for='exampleInputEmail_01') Email address
                                                  .input-group
                                                    .input-group-addon
                                                      i.icon-envelope-open
                                                    input#exampleInputEmail_01.form-control(type='email', placeholder='xyz@gmail.com')
                                                .form-group
                                                  label.control-label.mb-10(for='exampleInputContact_01') Contact number
                                                  .input-group
                                                    .input-group-addon
                                                      i.icon-phone
                                                    input#exampleInputContact_01.form-control(type='email', placeholder='+102 9388333')
                                                .form-group
                                                  label.control-label.mb-10(for='exampleInputpwd_01') Password
                                                  .input-group
                                                    .input-group-addon
                                                      i.icon-lock
                                                    input#exampleInputpwd_01.form-control(type='password', placeholder='Enter pwd', value='password')
                                                .form-group
                                                  label.control-label.mb-10 Gender
                                                  div
                                                    .radio
                                                      input#radio_01(type='radio', name='radio1', value='option1', checked='')
                                                      label(for='radio_01')
                                                        | M
                                                    .radio
                                                      input#radio_02(type='radio', name='radio1', value='option2')
                                                      label(for='radio_02')
                                                        | F
                                                .form-group
                                                  label.control-label.mb-10 Country
                                                  select.form-control(data-placeholder='Choose a Category', tabindex='1')
                                                    option(value='Category 1') USA
                                                    option(value='Category 2') Austrailia
                                                    option(value='Category 3') India
                                                    option(value='Category 4') UK
                                              .form-actions.mt-10
                                                button.btn.btn-success.mr-10.mb-30(type='submit') Update profile
                            #groupform.tab-pane.fade(role='tabpanel')
                              // Row
                              .row
                                .col-lg-12
                                  div
                                    .panel-wrapper.collapse.in
                                      .panel-body.pa-0
                                        .row.col-sm-12.col-xs-12.ml-10
                                          label.mb-15.txt-danger.h5 Attention: Vous devez vous assurer que le numéro de téléphone saisi est celui d'un joueur ayant déjà créé son compte
                                        .row.col-sm-12.col-xs-12.ml-10
                                          if(undefined===mongroupe || null===mongroupe)
                                            label.h3 Créer un groupe
                                          else
                                            label.h3 Gérer un groupe
                                        .col-sm-12.col-xs-12
                                          .form-wrap
                                            form(method='POST' action=(undefined===mongroupe || null===mongroupe ? '/create_group' : '/update_group'))
                                              .form-body.overflow-hide
                                                .row
                                                .form-group.col-sm-6.col-xs-12
                                                  label.control-label.mb-10 Nom du groupe
                                                  .input-group
                                                    .input-group-addon
                                                      i.icon-people
                                                    input.form-control(type='text', name='groupname', placeholder='Ex: Fada Banifandou 1' readonly=(undefined===mongroupe || null===mongroupe ? false : true) value=(undefined===mongroupe || null===mongroupe ? '' : mongroupe.groupname) required='true')
                                                if(mongroupe)
                                                  .row
                                                  - for (var i = 0; i < 15; ++i) {
                                                    .col-sm-4.col-xs-12.form-group
                                                      label.control-label.mb-10
                                                        | Numéro de Téléphone du joueur #{i+1}
                                                      .input-group
                                                        .input-group-addon
                                                          i.icon-phone
                                                        input.form-control(type='tel', name='userphone#{i+1}', maxlength='8', placeholder='8 chiffres Ex: 85 90 89 93')
                                                  - }
                                              .form-actions.mt-10
                                                button.btn.btn-success.mr-10.mb-30(type='submit') Enregistrer le groupe
          // /Row
        // Footer
        footer.footer.container-fluid.pl-30.pr-30
          .row
            .col-sm-12
              p 2017 © NIGER FOOT. By NIGER DIGITAL Talents
        // /Footer
      // /Main Content
    // /#wrapper
    // JavaScript
    // jQuery
    script(src='/vendors/bower_components/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js')
    // Vector Maps JavaScript
    script(src='/vendors/vectormap/jquery-jvectormap-2.0.2.min.js')
    script(src='/vendors/vectormap/jquery-jvectormap-world-mill-en.js')
    script(src='/dist/js/vectormap-data.js')
    // Calender JavaScripts
    script(src='/vendors/bower_components/moment/min/moment.min.js')
    script(src='/vendors/jquery-ui.min.js')
    script(src='/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js')
    script(src='/dist/js/fullcalendar-data.js')
    // Counter Animation JavaScript
    script(src='/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js')
    script(src='/vendors/bower_components/jquery.counterup/jquery.counterup.min.js')
    // Data table JavaScript
    script(src='/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js')
    // Slimscroll JavaScript
    script(src='/dist/js/jquery.slimscroll.js')
    // Fancy Dropdown JS
    script(src='/dist/js/dropdown-bootstrap-extended.js')
    // Sparkline JavaScript
    script(src='/vendors/jquery.sparkline/dist/jquery.sparkline.min.js')
    script(src='/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js')
    script(src='/dist/js/skills-counter-data.js')
    // Morris Charts JavaScript
    script(src='/vendors/bower_components/raphael/raphael.min.js')
    script(src='/vendors/bower_components/morris.js/morris.min.js')
    script(src='/dist/js/morris-data.js')
    // Owl JavaScript
    script(src='/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js')
    // Switchery JavaScript
    script(src='/vendors/bower_components/switchery/dist/switchery.min.js')
    // Data table JavaScript
    script(src='/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js')
    // Gallery JavaScript
    script(src='/dist/js/isotope.js')
    script(src='/dist/js/lightgallery-all.js')
    script(src='/dist/js/froogaloop2.min.js')
    script(src='/dist/js/gallery-data.js')
    // Spectragram JavaScript
    script(src='/dist/js/spectragram.min.js')
    // Init JavaScript
    script(src='/dist/js/init.js')
    script(src='/dist/js/widgets-data.js')
    //script.
          $(document).ready(function() {
          $('body').css('background-image', 'url(https://www.pickthebrain.com/blog/wp-content/uploads/2015/12/8-things-successful-people-perform-differently-from-others.jpg)')
          $('#submit_prono').click(function(){
              var userid = $('.userid').attr('data-userid');
              var docs = [];
              $('.gamebody').each(function() {
                var i = 1;
                var gameid_item = '',
                    prteam1_item = '',
                    prteam2_item = '';
                var doc = [{user:'',
                           game:'',
                           prteam1:'',
                           prteam2:''}]
                gameid_item = $(this).attr('data-gameid');
                prteam1_item = $('#prteam1'+ gameid_item).val();
                prteam2_item = $('#prteam2' + gameid_item).val();
                doc.user = userid
                doc.game = gameid_item
                doc.prteam1 = prteam1_item
                doc.prteam2 = prteam2_item
                
                docs.push(doc);
                });
                /*alert(docs)
                return*/
                $.ajax({
                    type: 'POST',
                    url: '/users/update-pronostic',
                    data: JSON.stringify(docs), // here I send the data when the button on the browser is clicked.
                    dataType: "json"
                }).done(function( msg ) {
                    console.log( "Data Saved: " + msg );
                }).fail(function(msg){
                    console.log("Fail! " +msg.data);
                });
              
          
          });
          });
          
